<h1>Calculate a montly payment</h1>
<form action="/payment/results">
  <div>
    <label for="apr_input_number">APR</label>
    <input id="apr_input_number" type="text" name="users_apr_number" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="years_input_number">Number of years</label>
    <input id="years_input_number" type="text" name="users_years_number" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal_input_number">Principal</label>
    <input id="principal_input_number" type="text" name="users_principal_number" placeholder="How much principal?">
  </div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
