<h1>Calculate a random number</h1>
<form action="/random/results">
  <div>
    <label for="min_input_number">Minimum</label>
    <input id="min_input_number" type="text" name="users_min_number" placeholder="E.g. 1.5">
  </div>
  <div>
    <label for="max_input_number">Maximum</label>
    <input id="max_input_number" type="text" name="users_max_number" placeholder="E.g. 4.5">
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
