<h1>Results of square root</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square root
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
  
</dl>

<a href="/square_root/new">
  Calcultate another square root
</a>
